@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1800px;
}

.header {
    height: 100px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-content {
    padding-top: 14px;
    display: flex;
    align-items: center;
}

.burger {
    display: none;
    width: 30px;
    height: 23px;
    background-image: url('../img/burger.svg');
    border: none;
}

.burger:hover {
    cursor: pointer;
}

.header-logo {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list-item {
    margin-right: 85px;
}

.header-list-link {    
    font-weight: 600;
    color: #333;
}

.header-list-link:hover {
    border-bottom: 3px solid #FF9900;
}

.search-btn {
    margin-right: 13px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
}

.search-btn:hover {
    background-image: url('../img/search-btn-hover.svg');
    cursor: pointer;
}


.hero-content {
    padding: 55px 0 90px 80px;
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    margin-bottom: 25px;
    width: 50%;
    font-size: 70px;
    font-weight: 800;
    line-height: 86px;
    color: #fff;
}

.hero-text {
    padding-bottom: 100px;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}

.button {
    font-size: 23px;
    font-weight: 700;
    padding: 25px 37px;
    border-color: #FF9900;
    background-color: #FF9900;    
    color: #fff;
}

.button:hover {
    background: rgba(255, 153, 0, 0.6);
    cursor: pointer;
}

.section-about {
    margin-top: 105px;
    margin-bottom: 100px;
}

.section-title {
    padding-bottom: 25px;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3px;
}

.about-text {
    padding-bottom: 40px;
    width: 70%;
    font-weight: 400;
    line-height: 33px;
}

.about-text-img {
    padding-left: 20px;
    margin-left: 7px;
    background-image: url('../img/i-tooltipe.svg');
    background-repeat: no-repeat;
}

.about-flex {
    margin-top: 5px;
    display: flex;
}

.about-col-left-bg {
    display: flex;
    align-items: flex-end;
    background-image: url('../img/rect1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-col-left {
    padding: 30px 55px 42px 55px;
    display: flex;
    align-items: center;    
    background: rgba(0, 0, 0, 0.5);
}

.about-col-left-text {
    line-height: 32px;
    color: #fff;    
}

.about-link {
    padding: 15px 40px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid #FF9900;
    color: #fff;
}

.about-link:hover {
    background-color: #ff9900;
    cursor: pointer;
}

.about-list {
    margin-left: 30px;
    width: 58.5%;
}

.about-list-item {
    padding: 65px 0 65px 300px;
    border: 1px solid #cacaca;
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

.about-list-bg1 {
    margin-bottom: 30px;
    background-image: url('../img/group25.svg');
}

.about-list-bg2 {
    background-image: url('../img/group24.svg');
}

.card-title, 
.about-item-text-top {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 800;
}

.about-item-text {
    width: 80%;
    line-height: 32px;
}




.section-how {
    margin-bottom: 100px;
}

.how-list {
    margin-top: 27px;
    margin-bottom: 45px;
    display: flex;
}

.how-list-item {
    margin-right: 90px;
}

.how-list-link {
    color: #333;
}

.how-list-link:hover {
    color: #FF9900;
}

.how-active {
    color: #FF9900;
}

.how-flex {
    display: flex;
}

.how-col-left {
    width: 51%;
}

.how-col-left-text {
    padding: 0 140px 60px 0;
    line-height: 32px;
}

.how-link1 {
    padding: 20px 37px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 700;    
    color: #fff;    
    border-color: #FF9900;
    background-color: #FF9900;
}

.how-link2 {
    padding: 20px 37px;
    margin-right: 30px;
    font-size: 16px;
    color: #333;
    background-color: transparent;
    border: 1px solid #333;
}

.how-link2:hover {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

/* .how-img-lg {
    display: none;
} */

/* .how-img-md {
    display: none;
} */

.section-faq {
    margin-bottom: 115px;
}

.faq-list {
    margin-top: 15px;
}

.faq-list-item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid #cacaca;
}

.faq-list-item:last-child {
    border-bottom: 1px solid #cacaca;
}

.faq-item-head {
    margin-right: auto;
    font-size: 24px;
    font-weight: 800;
    color: #333;
}

.faq-item-head:hover {
    color: #FF9900;
    cursor: pointer;
}

.faq-more {
    width: 50px;
    height: 50px;
    background-image: url('../img/х.svg');
    background-repeat: no-repeat;
    background-color: #fff;
}

.faq-more:hover {
    background-image: url('../img/х-hover.svg');
    cursor: pointer;
}


.footer {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #222;
}

.footer-title {
    margin-top: 8px;
    color: #cacaca;
}

.footer-flex {
    display: flex;
}

.footer-col-left {
    width: 170%;
}

.footer-list {
    padding-top: 10px;
}

.footer-list-item {
    padding-bottom: 17px;
}

.footer-item-link {
    color: #fff;
}

.footer-item-link:hover {
    color: #FF9900;
}

.footer-social-list {
    margin-top: 90px;
    display: flex;
}

.social-item {
    margin-right: 25px;
}

.social-item:hover {
    transform: scale(1.1, 1.1);
    transition: transform 300ms ease-in-out;
}

.social-item-link {
    display: block;
    width: 60px;
    height: 60px;
}

.social-item-link-fb {
    background-image: url('../img/fb.svg');
}

.social-item-link-vk {
    background-image: url('../img/vk.svg');
}

.social-item-link-inst {
    background-image: url('../img/instagram.svg');
}

.form-input {
    padding: 19px 0 19px 24px;
    margin-bottom: 27px;
    display: block;
    width: 570px;
    background-color: #414141;
    border: 1px solid #414141;
}

.form-input::placeholder {
    color: #cacaca;
}

.footer-btn {
    padding: 20px 55px;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
}

.footer-checkbox {
    font-size: 16px;
    color: #fff;
}

.check-text {
    padding-left: 5px;
    color: #cacaca;
}

.footer-col-text {
    padding: 80px 40px 0 240px;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
}

